%html
  %head
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
    %script{ :src => '/js/bootstrap.min.js' }
    %link{ :href => '/css/journal-bootstrap.min.css', :rel => 'stylesheet' }
    %title Temporal
  %body
    %section{ :id => 'container', :class => 'clearfix' }
      .row-fluid
        .span12
          - if defined? flash and not flash.nil? and not flash.empty?
            .alert.alert-error
              #{flash}
            
      = yield

