
%form.form-horizontal.well{ :method => 'POST', :action => "/buyatoken" }
  %fieldset
    %legend Account email or token

    .control-group
      %label.control-label{ :for => 'input01' }
        Username
      .controls
        %input{ :type => 'text', :class => 'input-xlarge', :id => 'input01', :name => 'username' }
    .form-actions
      %button.btn.btn-primary{ :type => 'submit' } Request token
    

