
.row-fluid
  .span3
  .span6
    .hero-unit
      %h1 You passed this level!
  .span3

.row-fluid
  .span3
  .span6
    %p Good work, that's the end of the paradox levels!
    %p Your token is RUXCTF{35591d3d-5840-4a77-8c20-665bc165b156}
  .span3

